

/* --------------------------------- BOTONES -------------------------------- */
.btn {
  display: block;
  width: 130px;
  height: 45px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 31px;

  &.btn-lg {
    width: 180px;
  }

  &.btn-primary {
    background: $primary;
    border: 2px solid $primary;
    color: $white;
  }

  &.btn-secondary {
    background: $white;
    border: 2px solid $primary;
    color: $primary;
  }

  &:hover {
    @include shadowDefault($grey);
  }

  &:disabled {
    opacity: .6;
    cursor: no-drop;
  }

}

.btn-small {
  width: 50px;
  height: 52px;
  padding: 15px 14px;

  @media (max-width: $md) {
    width: 100%;
    height: 45px;
  }
}

.btn-small.btn-header-clear {
  @media (max-width: $md) {
    margin: 10px 0;
  }
}

.btn-icon {
  background: $primary;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  color: $white;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    @include shadowDefault($grey);
  }

  @media (max-width: $md) {
    padding: 8px;
  }
}

.btn-clear-contenedor-container {
  margin-left: 15px;
  height: 27px;

  @media (max-width: $md) {
    height: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    flex-direction: column-reverse;

    .btn-icon {
      margin: 5px 0 10px;
    }
  }
}

.disabled-btn {
  pointer-events: none !important;
  cursor: no-drop !important;
  opacity: .6;
}

.fa-icon{
  width: 25px;
}

.fa-icon-header{
  width: 19px;
}


/* ----------------------------- INPUT Y SELECT ----------------------------- */

.form-group {
  display: flex;
  flex-direction: column;

  label {
    color: $primary;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
  }

  input,
  select {
    display: block;
    background: $white;
    width: 240px;
    height: 35px;
    padding: 8px 10px;
    outline: none;
    border: 1px solid $grey;
    border-radius: 3px;
    color: $primary;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  .count-number {
    width: 85px;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  .count-number-small {
    width: 60px;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  .input-small {
    width: 130px;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  @media (max-width: $md) {
    width: 100%;
    margin-bottom: 10px;

  }

}

