/* -------------------------------- CONTADOR -------------------------------- */

.contador-container {
  border: 2px solid $primary;
  margin: 15px;
  padding: 10px;
  @include backgroundContainer;
  @include shadowContainer($grey);

  .operator-container {
    display: flex;
    flex-direction: row;

    @media (max-width: $md) {
      flex-direction: column-reverse;

    }
  }

  .contador-label {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
  }

  .contador-titulo {
    font-weight: 500;
  }

  ul {
    position: relative;
  }

  .contador {
    position: absolute;
    transition: all 13s ease;
    -webkit-transition: all 13s ease;

  }

  @media (max-width: $md) {
    flex-flow: column;

    .contador-info {
      text-align: center;
      margin: 10px 0 15px 0;
    }

  }
}

.add-contador-container {
  width: auto;
  height: calc(100vh - 252px);
  margin: 10px;
  border: dashed 2px black;
  text-align: center;
  cursor: pointer;

  .add-contador-label {
    margin-top: 49px;
    position: relative;
    top: 12%;
    font-size: 20px;
    font-style: italic;
  }


  @media (max-width: $md) {
    height: calc(100vh - 370px);
  }

}
