/* ---------------------------------- HOME ---------------------------------- */

.slider-container {

  img {
    width: 100%;
  }
}

.main-container {

}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;

  .main-header {
    padding: 25px 30px;
  }

  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }
}
