$green-1: #8BC34A;
$green-2: #dcedc8;
$orange: #f9a825;
$grey-1: #424242;
$grey-2: #616161;
$grey-3: #707070;
$grey-4: #9e9e9e;
$grey-5: #c9c9c9;


$primary: #8BC34A;
$white: #fff;
$black: #000;
$yellow: #f1c40f;
$grey: #b2b2b2;
$dark-grey: #333;
$black-3: rgba(0, 0, 0, .3);
$font-size-lg: 18px;
$bg-color: #E5E5F7;
$secondary-bg-color: #d5d5d5;

$lg: 1200;
$md: 992px;
$sm: 768px;
$x-sm: 368px;
