@import 'mixins';
@import 'variables';
@import 'componentes';
@import 'contador';

@import 'header';
@import 'home';
@import 'cardTravel';

/* --------------------------------- GENERAL -------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.container {
  width: 100%;
  height: calc(100vh - 100px);
  overflow-x: hidden;
}

.main {
  width: 100%;
  // min-height: calc(100vh - 245px);
}


/* --------------------------------- HEADER --------------------------------- */

.navbar-component {
  min-height: 64px;
  display: flex;
  align-items: center;
  background-color: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);

  .navbar {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;

    .filtros {
      display: block;
    }

    .logo-container {
      .logo {
        width: 30px;
      }
    }

    .navbar-collapse {
      width: calc(100% - 70px);
      justify-content: space-between;
      display: flex;
      flex-flow: row wrap;

      @include collapseAnimate;
      overflow: hidden;


      @media (max-width: $md) {
        width: 100%;
        height: 0;

      }
    }

    #navbar-header {
      @media (max-width: $md) {
        cursor: pointer;
        z-index: 13;
      }
    }

    @media (max-width: $md) {

      .logo-container {
        width: 100%;

        @media (min-width: $md) {
          display: flex;
          place-content: space-between;

        }
      }

    }

  }

  // navbar-component
  @media (min-width: $md) {
    height: 70px;
  }


}

.logo-container {

  @media (max-width: $md) {
    display: flex;
    place-content: space-between;

  }
}

.operador-filtro {
  position: relative;
  top: 9px;
  margin-right: 2px;
  font-size: 30px;
}

/* ------------------------------ COLLAPSE NAV ------------------------------ */

#collapse_nav {
  display: none;

  &:checked {

    ~.navbar-collapse {
      height: 261px;
    }

    ~#navbar-header .logo-container {
      .iconPlus {
        @include transformRotate;
      }

      .minus {
        @include transformRotate;
      }

    }
  }
}


.iconPlus {
  @include collapseAnimate;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;

  .plus {
    display: block;
    width: 3px;
    height: 21px;
    margin: 0 auto;
    background: $primary;
  }

  .minus {
    @include collapseAnimate;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 3px;
    top: 9px;
    background: $primary;
  }
}

/* --------------------------------- FOOTER --------------------------------- */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $primary;
  color: $white;

  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    .form-group label {
      color: $white;
    }

    .logo-nuxt {
      color: $white;
    }

    @media (max-width: $md) {

      flex-flow: column-reverse;
      padding-bottom: 15px;
    }
  }

  @media (max-width: $md) {
    position: relative;
    margin-top: 20px;
  }

}

/* ---------------------------------- MODAL --------------------------------- */
.vm--modal {
  .btn-close {
    position: absolute;
    right: 0;
    color: $grey;
    font-size: 16px;
    margin: 10px 12px;
    cursor: pointer;
  }
}

.modal-content {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 20px;
  }

  .btn-container {
    text-align: center;
    min-width: 270px;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;

    @media (max-width: $md) {

      .btn {
        margin-bottom: 10px;
      }
    }

    @media (max-width: $x-sm) {
      min-width: auto;
      justify-content: center;

    }
  }
}

/* ------------------------------- HEADER NAV ------------------------------- */

.header-nav {
  min-height: 50px;
  margin: 15px;
  display: flex;
  place-content: space-between;
}


/* ------------------------------ TRANSICIONES ------------------------------ */
/* ---------------------------------- FADE ---------------------------------- */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
  overflow: hidden;
}

.slide-fade-leave-active {
  display: none !important;
}


/* -------------------------------- LIST ITEM ------------------------------- */
.list-item-enter-active,
.list-item-leave-active {
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: left center;
}

.list-item-enter,
.list-item-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.list-item-leave-active {
  position: absolute;
}

.list-item-move {
  transition: transform .4s linear .1s;
}


/* ---------------------------------- LIST ---------------------------------- */
.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}



/* ----------------------------- CLASESS CUSTOM ----------------------------- */
.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
}

.d-flex-nw {
  display: flex;
  flex-flow: row nowrap;
}

.d-end {
  display: flex;
  justify-content: flex-end;
}

.d-between {
  display: flex;
  place-content: space-between;
}

.d-none {
  display: none;
}

.d-block-resp {
  display: none !important;

  @media (max-width: $md) {
    display: block !important;
  }
}

.d-custom-001 {
  position: absolute;
  right: 15px;
  margin: 3px 0px !important;

  @media (max-width: $md) {
    position: relative;
    right: auto;
    margin: 15px !important;
  }
}

.f-nw {
  flex-flow: row wrap
}

.a-center {
  align-self: center;
  align-items: center;
}

.mr-1 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.ma-1 {
  margin: 10px;
}

.ma-2 {
  margin: 15px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 15px !important;
}

.mt-2 {
  margin-top: 15px;
}

@media (max-width: $md) {
  .d-none-resp {
    display: none !important;
  }

  .d-line-block {
    display: inline-block;
  }

  .w-100-resp {
    width: 100% !important;
  }

  .ma-1-resp {
    margin: 10px;
  }

  .mb-1-resp {
    margin-bottom: 10px;
  }

  .mt-2-resp {
    margin-top: 15px;
  }

  .mt-3-resp {
    margin-top: 20px;
  }

  .mw-240 {
    max-width: 240px;
  }


}

@media (min-width: $md) {
  .mr-1-desk {
    margin-right: 15px;
  }
}
