@import 'mixins';
@import 'variables';

@import 'header';
@import 'footer';
@import 'home';
@import 'card-travel';
@import 'sobre-nosotros';
@import 'destinos/destinos';
@import 'destinos/destino';
@import '404';

/* --------------------------------- GENERAL -------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  padding-top: 80px;
  overflow-x: hidden;
  min-height: calc(100vh - 150px);
}

.main {
  width: 100%;
}


/* ------------------------------ TRANSICIONES ------------------------------ */
/* ------------------------------ DEFAULT NUXT ------------------------------ */
.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.page2-enter-active,
.page2-leave-active {
  transition: opacity 5.5s;
  display: block;
}

.page2-enter,
.page2-leave-to {
  opacity: 0;
  display: none;
}

/* ---------------------------------- FADE ---------------------------------- */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
  overflow: hidden;
}

.slide-fade-leave-active {
  display: none !important;
}
