/* --------------------------------- SHADOWS -------------------------------- */
/* ------------------------------- CONTADORES ------------------------------- */
/* ------------------------------ COLLAPSE NAV ------------------------------ */
/* --------------------------------- BOTONES -------------------------------- */
.btn {
  display: block;
  width: 130px;
  height: 45px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 31px;
}
.btn.btn-lg {
  width: 180px;
}
.btn.btn-primary {
  background: #34495e;
  border: 2px solid #34495e;
  color: #fff;
}
.btn.btn-secondary {
  background: #fff;
  border: 2px solid #34495e;
  color: #34495e;
}
.btn:hover {
  -moz-box-shadow: 0px 0px 4px 1px #b2b2b2;
  -webkit-box-shadow: 0px 0px 4px 1px #b2b2b2;
  box-shadow: 0px 0px 4px 1px #b2b2b2;
}
.btn:disabled {
  opacity: 0.6;
  cursor: no-drop;
}

.btn-small {
  width: 50px;
  height: 52px;
  padding: 15px 14px;
}
@media (max-width: 992px) {
  .btn-small {
    width: 100%;
    height: 45px;
  }
}

@media (max-width: 992px) {
  .btn-small.btn-header-clear {
    margin: 10px 0;
  }
}

.btn-icon {
  background: #34495e;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}
.btn-icon:hover {
  -moz-box-shadow: 0px 0px 4px 1px #b2b2b2;
  -webkit-box-shadow: 0px 0px 4px 1px #b2b2b2;
  box-shadow: 0px 0px 4px 1px #b2b2b2;
}
@media (max-width: 992px) {
  .btn-icon {
    padding: 8px;
  }
}

.btn-clear-contenedor-container {
  margin-left: 15px;
  height: 27px;
}
@media (max-width: 992px) {
  .btn-clear-contenedor-container {
    height: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
    flex-direction: column-reverse;
  }
  .btn-clear-contenedor-container .btn-icon {
    margin: 5px 0 10px;
  }
}

.disabled-btn {
  pointer-events: none !important;
  cursor: no-drop !important;
  opacity: 0.6;
}

.fa-icon {
  width: 25px;
}

.fa-icon-header {
  width: 19px;
}

/* ----------------------------- INPUT Y SELECT ----------------------------- */
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  color: #34495e;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 3px;
}
.form-group input,
.form-group select {
  display: block;
  background: #fff;
  width: 240px;
  height: 35px;
  padding: 8px 10px;
  outline: none;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  color: #34495e;
}
@media (max-width: 992px) {
  .form-group input,
.form-group select {
    width: 100%;
  }
}
.form-group .count-number {
  width: 85px;
}
@media (max-width: 992px) {
  .form-group .count-number {
    width: 100%;
  }
}
.form-group .count-number-small {
  width: 60px;
}
@media (max-width: 992px) {
  .form-group .count-number-small {
    width: 100%;
  }
}
.form-group .input-small {
  width: 130px;
}
@media (max-width: 992px) {
  .form-group .input-small {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* -------------------------------- CONTADOR -------------------------------- */
.contador-container {
  border: 2px solid #34495e;
  margin: 15px;
  padding: 10px;
  background-image: linear-gradient(#fff, #ececec);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px 1px #b2b2b2;
  -webkit-box-shadow: 2px 2px 4px 1px #b2b2b2;
  box-shadow: 2px 2px 4px 1px #b2b2b2;
}
.contador-container .operator-container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .contador-container .operator-container {
    flex-direction: column-reverse;
  }
}
.contador-container .contador-label {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}
.contador-container .contador-titulo {
  font-weight: 500;
}
.contador-container ul {
  position: relative;
}
.contador-container .contador {
  position: absolute;
  transition: all 13s ease;
  -webkit-transition: all 13s ease;
}
@media (max-width: 992px) {
  .contador-container {
    flex-flow: column;
  }
  .contador-container .contador-info {
    text-align: center;
    margin: 10px 0 15px 0;
  }
}

.add-contador-container {
  width: auto;
  height: calc(100vh - 252px);
  margin: 10px;
  border: dashed 2px black;
  text-align: center;
  cursor: pointer;
}
.add-contador-container .add-contador-label {
  margin-top: 49px;
  position: relative;
  top: 12%;
  font-size: 20px;
  font-style: italic;
}
@media (max-width: 992px) {
  .add-contador-container {
    height: calc(100vh - 370px);
  }
}

.header-fixed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px #ccc;
  padding: 20px 40px;
  height: 80px;
  color: #ffffff;
  box-sizing: border-box;
  top: -100px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
.header-fixed .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.header-fixed .header-limiter h1 {
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}
.header-fixed .header-limiter h1 span {
  color: #5383d3;
}
.header-fixed .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}
.header-fixed .header-limiter nav {
  font: 16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}
.header-fixed .header-limiter nav a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.9;
}
.header-fixed .header-limiter nav a:hover {
  opacity: 1;
}
.header-fixed .header-limiter nav a.selected {
  color: #608bd2;
  pointer-events: none;
  opacity: 1;
}
.header-fixed .header-fixed {
  padding: 10px 40px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-fixed .header-fixed-placeholder {
  display: block;
}
.header-fixed .header-fixed .header-limiter h1 {
  font-size: 24px;
  line-height: 30px;
}
.header-fixed .header-limiter nav {
  line-height: 28px;
  font-size: 13px;
}

.header-fixed-placeholder {
  height: 80px;
  display: none;
}

/* Making the header responsive */
@media all and (max-width: 600px) {
  .header-fixed {
    padding: 20px 0;
    height: 75px;
  }

  .header-fixed .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .header-fixed .header-limiter nav {
    line-height: 1;
    float: none;
  }

  .header-fixed .header-limiter nav a {
    font-size: 13px;
  }

  body.fixed .header-fixed {
    display: none;
  }
}
/* ---------------------------------- HOME ---------------------------------- */
.slider-container img {
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.main .main-header {
  padding: 25px 30px;
}
@media (max-width: 992px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* ------------------------------- CARD TRAVEL ------------------------------ */
.card-travel .card-travel-detail .location-detail {
  display: flex;
  place-content: space-between;
}
.card-travel .card-travel-detail .location-detail .stars-container {
  height: 30px;
  display: flex;
}
.card-travel .card-travel-detail .location-detail .stars-container img {
  width: 27px;
  padding: 0 4px;
}

/* --------------------------------- GENERAL -------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.container {
  width: 100%;
  height: calc(100vh - 100px);
  overflow-x: hidden;
}

.main {
  width: 100%;
}

/* --------------------------------- HEADER --------------------------------- */
.navbar-component {
  min-height: 64px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.navbar-component .navbar {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.navbar-component .navbar .filtros {
  display: block;
}
.navbar-component .navbar .logo-container .logo {
  width: 30px;
}
.navbar-component .navbar .navbar-collapse {
  width: calc(100% - 70px);
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
}
@media (max-width: 992px) {
  .navbar-component .navbar .navbar-collapse {
    width: 100%;
    height: 0;
  }
}
@media (max-width: 992px) {
  .navbar-component .navbar #navbar-header {
    cursor: pointer;
    z-index: 13;
  }
}
@media (max-width: 992px) {
  .navbar-component .navbar .logo-container {
    width: 100%;
  }
}
@media (max-width: 992px) and (min-width: 992px) {
  .navbar-component .navbar .logo-container {
    display: flex;
    place-content: space-between;
  }
}
@media (min-width: 992px) {
  .navbar-component {
    height: 70px;
  }
}

@media (max-width: 992px) {
  .logo-container {
    display: flex;
    place-content: space-between;
  }
}

.operador-filtro {
  position: relative;
  top: 9px;
  margin-right: 2px;
  font-size: 30px;
}

/* ------------------------------ COLLAPSE NAV ------------------------------ */
#collapse_nav {
  display: none;
}
#collapse_nav:checked ~ .navbar-collapse {
  height: 261px;
}
#collapse_nav:checked ~ #navbar-header .logo-container .iconPlus {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#collapse_nav:checked ~ #navbar-header .logo-container .minus {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.iconPlus {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}
.iconPlus .plus {
  display: block;
  width: 3px;
  height: 21px;
  margin: 0 auto;
  background: #34495e;
}
.iconPlus .minus {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 3px;
  top: 9px;
  background: #34495e;
}

/* --------------------------------- FOOTER --------------------------------- */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #34495e;
  color: #fff;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
footer .footer-container .form-group label {
  color: #fff;
}
footer .footer-container .logo-nuxt {
  color: #fff;
}
@media (max-width: 992px) {
  footer .footer-container {
    flex-flow: column-reverse;
    padding-bottom: 15px;
  }
}
@media (max-width: 992px) {
  footer {
    position: relative;
    margin-top: 20px;
  }
}

/* ---------------------------------- MODAL --------------------------------- */
.vm--modal .btn-close {
  position: absolute;
  right: 0;
  color: #b2b2b2;
  font-size: 16px;
  margin: 10px 12px;
  cursor: pointer;
}

.modal-content {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-content h2 {
  margin-bottom: 20px;
}
.modal-content .btn-container {
  text-align: center;
  min-width: 270px;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 992px) {
  .modal-content .btn-container .btn {
    margin-bottom: 10px;
  }
}
@media (max-width: 368px) {
  .modal-content .btn-container {
    min-width: auto;
    justify-content: center;
  }
}

/* ------------------------------- HEADER NAV ------------------------------- */
.header-nav {
  min-height: 50px;
  margin: 15px;
  display: flex;
  place-content: space-between;
}

/* ------------------------------ TRANSICIONES ------------------------------ */
/* ---------------------------------- FADE ---------------------------------- */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
  overflow: hidden;
}

.slide-fade-leave-active {
  display: none !important;
}

/* -------------------------------- LIST ITEM ------------------------------- */
.list-item-enter-active,
.list-item-leave-active {
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: left center;
}

.list-item-enter,
.list-item-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.list-item-leave-active {
  position: absolute;
}

.list-item-move {
  transition: transform 0.4s linear 0.1s;
}

/* ---------------------------------- LIST ---------------------------------- */
.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}

/* ----------------------------- CLASESS CUSTOM ----------------------------- */
.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
}

.d-flex-nw {
  display: flex;
  flex-flow: row nowrap;
}

.d-end {
  display: flex;
  justify-content: flex-end;
}

.d-between {
  display: flex;
  place-content: space-between;
}

.d-none {
  display: none;
}

.d-block-resp {
  display: none !important;
}
@media (max-width: 992px) {
  .d-block-resp {
    display: block !important;
  }
}

.d-custom-001 {
  position: absolute;
  right: 15px;
  margin: 3px 0px !important;
}
@media (max-width: 992px) {
  .d-custom-001 {
    position: relative;
    right: auto;
    margin: 15px !important;
  }
}

.f-nw {
  flex-flow: row wrap;
}

.a-center {
  align-self: center;
  align-items: center;
}

.mr-1 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.ma-1 {
  margin: 10px;
}

.ma-2 {
  margin: 15px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 15px !important;
}

.mt-2 {
  margin-top: 15px;
}

@media (max-width: 992px) {
  .d-none-resp {
    display: none !important;
  }

  .d-line-block {
    display: inline-block;
  }

  .w-100-resp {
    width: 100% !important;
  }

  .ma-1-resp {
    margin: 10px;
  }

  .mb-1-resp {
    margin-bottom: 10px;
  }

  .mt-2-resp {
    margin-top: 15px;
  }

  .mt-3-resp {
    margin-top: 20px;
  }

  .mw-240 {
    max-width: 240px;
  }
}
@media (min-width: 992px) {
  .mr-1-desk {
    margin-right: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
